div.card-body(class=firstMsg ? 'first-msg-card': undefined data-timestamp=timestamp)
  if firstMsg
    span.first-msg Первое сообщение от
    br
  span.nickname=nickname
  if (separator) 
    span=separator
  span.card-body-msg(class=highlightedMessage ? 'highlighted-message':undefined)
    if botCommand
      span.bot-command Команда бота
    span !{message}
